<main class="container">
  <div class="grid">
    <article>
      <a routerLink="/">Home</a>
    </article>
    <article>
      <a routerLink="/auth/register">Register</a>
    </article>
    <article>
      <a routerLink="/products">Products</a>
    </article>
    <article>
      <a routerLink="/people">People</a>
    </article>
    <article>
      <a routerLink="/others">Others</a>
    </article>
    <article>
      <a routerLink="/resize-observer">Resize Observer</a>
    </article>
  </div>
</main>
