<section class="container">
  <h1>Products component</h1>
  <button data-testid="btn-promise" (click)="callPromise()">Call promise</button>
  <p data-testid="rta" class="rta">{{ rta }}</p>
  <div class="my-grid">
    @for (product of products; track product) {
      <app-product [product]="product"></app-product>
    }
  </div>
  <button [disabled]="status === 'loading'" (click)="getAllProducts()">
    @if (status === 'init' || status === 'success') {
      <span>Load more</span>
    }
    @if (status === 'loading') {
      <span>Loading</span>
    }
    @if (status === 'error') {
      <span>Error</span>
    }
  </button>
</section>
